.navbar.bg-dark {
    color: white;
    height: 75px;
    font-size: 22px;
}
.nav-bar {
    font-size: 30px;
}
.nav-link {
    color: white;

}

.instructions {
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;

}